.password-recovery-form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 70%;
    margin: auto;
}

#btnForgotPassword {
    background-color: #32bbad;
    border-color: #32bbad;
    color: #ffffff;
}


#btnGoToLogin {
    background-color: #32bbad;
    color: #ffffff;
    border: 1px solid #32bbad;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}