.login-form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 40%;
    margin: auto;
}

#btnLogin {
    background-color: #32bbad;
    color: #ffffff;
    border: 1px solid #32bbad;
    border-radius: 2px;
    padding: 5px;
    width: 40%;
    height: 40px;
}


#btnForgotPassword {
    background-color: #ffffff;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    border-radius: 2px;
    padding: 5px;
    width: 40%;
}

#btnCreateAccount {
    background-color: #32bbad;
    color: #ffffff;
    border: 1px solid #32bbad;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}