html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#modelChangePassword > div > div {
    border: 5px #32bbad solid;
    border-color: #32bbad;
    border-radius: 2px;
    padding: 2px;
}

#modelChangePassword .modal-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#btnChangePassword {
    background-color: #32bbad;
    border-color: #32bbad;
    color: #ffffff;
}
