@page

<link rel="stylesheet" href="~/css/pages/index.css" asp-append-version="true" />

<div class="text-center">
    <header class="welcome-section">
        <h2>Bienvenidos a PetSuite</h2>
        <h5>Innovación en el cuidado de mascotas.</h5>
    </header>
</div>

<div class="packages-section"></div>

<script src="~/js/pages/index.js" asp-append-version="true"></script>