@page
@model WebApp.Pages.InvoiceModel
@{
}
<div class="bs-docs-section">
    <br />
    <h3 class="text-center">Lista de Reservaciones</h3>
    <div class="row">
        <div style="width:100%">
            <table id="tblListInvoice" class="display compact" style="width:100%"></table>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
@*        <button id="btnPagar" type="button" class="btn btn-secondary me-md-2">Pagar</button>
 *@    </div>
</div>
<script src="~/js/pages/invoice.js"></script>
<script src="~/js/pages/reservations.js"></script>