@page

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

<div id="temperatura">
	<canvas id="chart-temperatura"></canvas>
</div>
<div id="humedad">
	<canvas id="chart-humedad"></canvas>
</div>
<div id="movimiento">
	<canvas id="chart-movimiento"></canvas>
</div>

<link rel="stylesheet" href="~/css/pages/iot-pet.css" />
<script src="~/js/pages/iot-pet.js"></script>