@page
@model WebApp.Pages.PackageModel
@{
}
<script src="~/js/pages/package.js"></script>

<div class="bs-docs-section">
    <br />

    <div class="row">
        <legend>Lista de paquetes</legend>
        <div class="col-lg-12">
            <table id="tblListPackages" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descricción</th>
                        <th>Id de la habitación</th>
                        <th>Tipo de raza de mascota</th>
                        <th>Tamaño de mascota</th>
                        <th>Agresividad de mascota</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de actualización</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                    <fieldset>
                        <legend>Formulario pra registrar paquetes</legend>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-3">Nombre</label>
                            <input type="text" class="form-control" id="txtName" aria-describedby="emailHelp" placeholder="Ingrese el nombre del paquete">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Descripción</label>
                            <input type="text" class="form-control" id="txtDescription" aria-describedby="emailHelp" placeholder="Ingrese la descripción del paquete">
                        </div>

                        <div class="form-group">
                            <label for="txtCountry" class="form-label mt-4">Id de la habitación</label>
                            <input type="number" class="form-control" id="txtRoomId" aria-describedby="emailHelp" placeholder="Ingrese el Id de la habitación">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Tipo de raza de mascota</label>
                            <input type="text" class="form-control" id="txtPetBreedType" aria-describedby="emailHelp" placeholder="Ingrese el tipo de raza de mascota">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Tamaño de mascota</label>
                            <input type="text" class="form-control" id="txtPetSize" aria-describedby="emailHelp" placeholder="Ingrese el tamaño de mascota">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Agresividad de mascota</label>
                            <input type="number" class="form-control" id="txtPetAggressiveness" aria-describedby="emailHelp" placeholder="Ingrese la agresividad de mascota">
                        </div>


                        <div class="form-group">
                            <label for="txtCountry" class="form-label mt-4">Estado</label>
                            <input type="number" class="form-control" id="txtStatus" aria-describedby="emailHelp" placeholder="Ingrese el estado del paquete">
                        </div>

                        <div class="form-group">
                            <label for="txtServices" class="form-label mt-4">Lista de servicios</label>
                            <textarea class="form-control" id="txtServices" placeholder="Ingrese los servicios del paquete, separados por comas."></textarea>
                            <small id="servicesHelp" class="form-text text-muted">Ejemplo: Servicio 1, Servicio 2, Servicio 3</small>
                        </div>




                        @*<div class="form-group">
                        <label for="formFile" class="form-label mt-4">Attach your document ID.</label>
                        <input class="form-control" type="file" id="formFile">
                        </div>*@
                </form>
                <br />
                @*<button id="btnNew" class="source-button btn btn-info btn-xs" type="button" tabindex="0"><i class="bi bi-code">New</i></button>*@
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Crear paquete</i></button>

            </div>
        </div>
    </div>
</div>