@page
@{
}
<div class="bs-docs-section">
    <br />
    <h3 class="text-center">Lista de Paquetes</h3>

    <button id="btnCreate" class="btn btn-primary mb-4">Registar Paquete</button>

    <div class="row">
        <div style="width:100%">
            <table id="tblListPackages" class="display compact" style="width:100%"></table>
        </div>
    </div>

      <div id="formModal" data-bs-backdrop="static" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="titleModal"></h3>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <div id="validationErrors" class="alert alert-danger d-none"></div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="mb-2">
                                    <label for="txtName" class="form-label mt-3">Nombre</label>
                                    <input id="txtName" type="text" class="form-control"  placeholder="Ingrese el nombre del paquete">
                                </div>

                                <div class="mb-2">
                                    <label for="txtDescription" class="form-label mt-3">Descripción</label>
                                    <input id="txtDescription" type="text" class="form-control"  placeholder="Ingrese la descripción del paquete">
                                </div>

                                <div class="mb-2">
                                    <label for="txtRoomId" class="form-label mt-3">Id de la habitación</label>
                                    <select id="txtRoomId" class="form-control">
                                    </select>
                                </div>

                                <div class="mb-2">
                                    <label for="txtPetBreedType" class="form-label mt-3">Raza de mascota</label>
                                    <input id="txtPetBreedType" type="text" class="form-control"  placeholder="Ingrese La raza de la mascota">
                                </div>

                                <div class="mb-2">
                                    <label for="txtPetSize" class="form-label mt-3">Tamaño de mascota</label>
                                    <input id="txtPetSize" type="text" class="form-control"  placeholder="Ingrese el tamaño de mascota">
                                </div>

                                <div class="mb-2">
                                    <label for="txtPetAggressiveness" class="form-label mt-3">Agresividad de mascota</label>
                                    <input id="txtPetAggressiveness" type="number" class="form-control"  placeholder="Ingrese el nivel de agresividad de la mascota">
                                </div>

                                
                                <div class="mb-2">
                                <label for="txtStatus" class="form-label mt-3">Estado</label>
                                <input id="txtStatus" type="number" class="form-control"  placeholder="Ingrese el estado del paquete">
                                </div>

                                
                                <div class="mb-2">
                                    <label class="form-label">Servicios:</label>
                                    <div class="input-group mb-2">
                                        <button id="btnAddService" class="btn btn-outline-secondary btn-service" type="button">Agregar servicio</button>
                                    </div>
                                    <div id="service-group"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-secondary me-md-2">Cancelar</button>
                        <button id="btnSubmit" type="button" class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/pages/package.js" asp-append-version="true"></script>