@page
@model WebApp.Pages.PetModel
@{
}
<script src="~/js/pages/pet.js" asp-append-version="true"></script>

<div class="bs-docs-section">
    <br />

    <div class="row">
        <div class="col-lg-12">
            <table id="tblListPets" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Edad de Mascota</th>
                        <th>Raza de mascota</th>
                        <th>Agresividad de mascota</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de actualización</th>
                        <th>Estatus</th>
                        <th>Id de usuario</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <button id="btnToggleForm" class="source-button btn btn-secondary btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Formulario de paquetes</i>
                </button>
                <form>
                    <fieldset>
                        <legend>Formulario pra registrar paquetes</legend>

                        <div class="form-group">
                            <label for="txtPetId" class="form-label mt-4">Id de servicio</label>
                            <input id="txtPetId" type="number" class="form-control" placeholder="Ingrese el id de la mascota, use solo para actualizar o eliminar">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-3">Nombre</label>
                            <input id="txtName" type="text" class="form-control"  placeholder="Ingrese el nombre de la mascota">
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" class="form-label mt-3">Descripción</label>
                            <input id="txtDescription" type="text" class="form-control"  placeholder="Ingrese la descripción de la mascota">
                        </div>
                        
                        <div class="form-group">
                            <label for="txtAge" class="form-label mt-3">Edad de mascota</label>
                            <input id="txtAge" type="text" class="form-control"  placeholder="Ingrese la edad de la mascota">
                        </div>

                        <div class="form-group">
                            <label for="txtPetBreedType" class="form-label mt-3">Raza de mascota</label>
                            <input id="txtPetBreedType" type="text" class="form-control"  placeholder="Ingrese la raza de la mascota">
                        </div>
                                                
                        <div class="form-group">
                            <label for="txtPetAggressiveness" class="form-label mt-3">Agresividad de mascota</label>
                            <input id="txtPetAggressiveness" type="number" class="form-control"  placeholder="Ingrese el nivel de agresividad de la mascota">
                        </div>
                                               
                        <div class="form-group">
                            <label for="txtUserId" class="form-label mt-3">Id del Usuario</label>
                            <select id="txtUserId" class="form-control">
                                <option value="1">User 1</option>
                                <option value="2">User 2</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="txtStatus" class="form-label mt-3">Estado</label>
                            <input id="txtStatus" type="number" class="form-control"  placeholder="Ingrese el estado del paquete">
                        </div>

                    </fieldset>
                </form>
                <br />

               <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Crear</i></button>
                <button id="btnUpdate" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Actualizar</i></button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Eliminar</i></button>

            </div>
        </div>
    </div>
</div>