@page
@{
}
<div class="bs-docs-section">
    <br />
    <h3 class="text-center">Lista de Mascotas</h3>

    <button id="btnCreate" class="btn btn-primary mb-4">Registar Paquete</button>

    <div class="row">
        <div style="width:100%">
            <table id="tblListPets" class="display compact" style="width:100%"></table>
        </div>
    </div>


<div id="formModal" data-bs-backdrop="static" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="titleModal"></h3>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <div id="validationErrors" class="alert alert-danger d-none"></div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="mb-2">
                                    <label for="txtName" class="form-label mt-3">Nombre</label>
                                    <input id="txtName" type="text" class="form-control"  placeholder="Ingrese el nombre de la mascota">
                                </div>

                                <div class="mb-2">
                                    <label for="txtDescription" class="form-label mt-3">Descripción</label>
                                    <input id="txtDescription" type="text" class="form-control"  placeholder="Ingrese la descripción de la mascota">
                                </div>
                        
                                <div class="mb-2">
                                    <label for="txtAge" class="form-label mt-3">Edad de mascota</label>
                                    <input id="txtAge" type="text" class="form-control"  placeholder="Ingrese la edad de la mascota">
                                </div>

                                <div class="mb-2">
                                    <label for="txtPetBreedType" class="form-label mt-3">Raza de mascota</label>
                                    <input id="txtPetBreedType" type="text" class="form-control"  placeholder="Ingrese la raza de la mascota">
                                </div>
                                                
                                <div class="mb-2">
                                    <label for="txtPetAggressiveness" class="form-label mt-3">Agresividad de mascota</label>
                                    <input id="txtPetAggressiveness" type="number" class="form-control"  placeholder="Ingrese el nivel de agresividad de la mascota">
                                </div>
                                               
                                <div class="mb-2">
                                    <label for="txtUserId" class="form-label mt-3">Id del Usuario</label>
                                    <select id="txtUserId" class="form-control">
                                        <option value="1">User 1</option>
                                        <option value="2">User 2</option>
                                    </select>
                                </div>

                                <div class="mb-2">
                                    <label for="txtStatus" class="form-label mt-3">Estado</label>
                                    <input id="txtStatus" type="number" class="form-control"  placeholder="Ingrese el estado del paquete">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-secondary me-md-2">Cancelar</button>
                        <button id="btnSubmit" type="button" class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/pages/pet.js" asp-append-version="true"></script>