@page
@model WebApp.Pages.ReservationsModel
@{
}

<div class="bs-docs-section">
    <br />
    <h3 class="text-center">Lista de Reservaciones</h3>

    <button id="btnCreate" class="btn btn-primary mb-4">Registar Reservacion</button>

    <div class="row">
        <div style="width:100%">
            <table id="tblListReservations" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <!-- Modal -->
    <div id="formModal" data-bs-backdrop="static" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="titleModal"></h3>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <div id="validationErrors" class="alert alert-danger d-none"></div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label for="startDate" class="form-label mt-4">Fecha de inicio</label>
                                    <input id="startDate" type="date" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="endDate" class="form-label mt-4">Fecha de finalización</label>
                                    <input id="endDate" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label for="petDropdown" class="form-label mt-4">Mascota disponible</label>
                                    <select id="petDropdown" class="form-select">
                                        <!-- Opciones de mascotas se insertarán dinámicamente con JavaScript -->
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="packageDropdown" class="form-label mt-4">Paquete disponible</label>
                                    <select id="packageDropdown" class="form-select">
                                        <!-- Opciones de paquetes se insertarán dinámicamente con JavaScript -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-secondary me-md-2">Cancelar</button>
                        <button id="btnSubmit" type="button" class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pages/reservations.js"></script>
