@page
@model WebApp.Pages.ServiceModel
@{
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/service.js"></script>
<div class="bs-docs-section">
    <br />
    <div class="row">
        <div class="col-lg-12" id="tblService">
            <h1>Service list</h1>
            <table class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Service Id</th>
                        <th>Service Name</th>
                        <th>Service Description</th>
                        <th>Service Status</th>
                        <th>Service Cost</th>
                        <th>Created Date</th>
                        <th>Modified Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <button id="btnToggleForm" class="source-button btn btn-secondary btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Service Form</i>
                </button>
                <form>
                    <fieldset>
                        <legend>Service registration form</legend>
                        <div>
                            <input id="txtServiceId" type="hidden" class="form-control" placeholder=" Service Id" readonly </div> 
                        <div class="form-group">
                            <label for="txtServiceName" class="form-label mt-4">Service Name</label>
                            <input id="txtServiceName" type="text" class="form-control" placeholder="Enter Service Name">
                        </div>
                        <div class="form-group">
                            <label for="txtServiceDescription" class="form-label mt-4">Service Description</label>
                            <input id="txtServiceDescription" type="text" class="form-control" placeholder="Enter Service Description">
                        </div>
                        <div class="form-group">
                            <label for="txtServiceStatus" class="form-label mt-4">Service Status</label>
                            <input id="txtServiceStatus" type="number" class="form-control" placeholder="Enter Service Status">
                        </div>
                        <div class="form-group">
                            <label for="txtServiceCost" class="form-label mt-4">Service Cost</label>
                            <input id="txtServiceCost" type="number" step="0.01" class="form-control" placeholder="Enter Service Cost">
                        </div>
                    </fieldset>
                    <br />
                    <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Submit</i></button>
                    <button id="btnUpdate" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                    <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>
                </form>
            </div>
        </div>
    </div>
</div>