@page
@model WebApp.Pages.ServiceModel
@{
}
<script src="~/js/pages/service.js" asp-append-version="true"></script>
<div class="bs-docs-section">
    <br />
    <h3 class="text-center">Lista de Servicios</h3>

    <button id="btnCreate" class="btn btn-primary mb-4">Registar Servicio</button>

    <div class="row">
        <div style="width:100%">
            <table id="tblServices" class="display compact" style="width:100%"></table>
        </div>
    </div>

    <!-- Modal -->
    <div id="formModal" data-bs-backdrop="static" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="titleModal"></h3>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <div id="validationErrors" class="alert alert-danger d-none"></div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label for="txtServiceId" class="form-label mt-4">Id de servicio</label>
                                    <input id="txtServiceId" type="number" class="form-control" placeholder="Ingrese el id del servicio, use solo para actualizar o eliminar">
                                </div>
                                <div class="mb-2">
                                    <label for="txtServiceName" class="form-label mt-4">Nombre de servicio</label>
                                    <input id="txtServiceName" type="text" class="form-control" placeholder="Ingrese el nombre del servicio">
                                </div>
                                <div class="mb-2">
                                    <label for="txtServiceDescription" class="form-label mt-4">Descripción de servicio</label>
                                    <input id="txtServiceDescription" type="text" class="form-control" placeholder="Ingrese la descripción del servicio">
                                </div>
                                <div class="mb-2">
                                    <label for="txtServiceStatus" class="form-label mt-4">Estado de servicio</label>
                                    <input id="txtServiceStatus" type="number" class="form-control" placeholder="Ingrese el estado del servicio">
                                </div>
                                <div class="mb-2">
                                    <label for="txtServiceCost" class="form-label mt-4">Costo de servicio</label>
                                    <input id="txtServiceCost" type="number" step="0.01" class="form-control" placeholder="Ingrese el costo del servicio">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-secondary me-md-2">Cancelar</button>
                        <button id="btnSubmit" type="button" class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>